.select {
  max-width: 100px;
  width: 100%;
  padding: 10px;
  appearance: none;
  margin-right: 15px;
  outline: none;
  border: none;
  height: 35px;
  background: url('../../assets/img/arrows.png') no-repeat right, #fff;
  cursor: pointer;
}

@media screen and (max-width: 405px) {
  .select {
    margin: 0;
    max-width: 120px;
  }
}